version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: healthy-food-api
    ports:
      - "8080:80"
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M