version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: healthy-food-api
    ports:
      - "8080:80"
    env_file:
      - .env
    depends_on:
      - db
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M

  db:
    image: mysql:8.0
    container_name: healthy-food-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: healthy_foods
    volumes:
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    deploy:
      resources:
        limits:
          memory: 256M
